.item-1 .text-light{
    font-size: small;
}

.item-2 .text-light{
    font-size: small;
}

section .row .col-8 ul li{
    float: left;
    list-style: none;
}

section .row .col-8 ul li a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}


.search-icon {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    margin:auto;
  }
  
  .search-line {
    width: 15px;
    height: 2px;
    background: #333;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 20px;
    left: 12px;
    transition: all 0.3s ease-in 0s;
  }
  
  .active .search-line {
    width: 30px;
    left: 0;
    top: 15px;
    transition: all 0.3s ease-out 0s;
  }
  
  .search-circle {
    width: 15px;
    height: 15px;
    border: 2px solid #333;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: top 0.3s ease-in 0s, left 0.3s ease-in 0s, border-radius 0.3s ease-in 0s, border-width 0.3s ease-in 0s, width 0.3s ease-in 0s, height 0.3s ease-in 0s, background-color 0.1s ease-in 0s;
    background-color: #fff;
  }
  
  .active .search-circle {
    width: 0;
    height: 0;
    border-width: 0;
    top: 12px;
    left: 12px;
    transition: top 0.3s ease-in 0s, left 0.3s ease-in 0s, border-radius 0s ease-in 0.3s, border-width 0.3s ease-in 0s, width 0.3s ease-in 0s, height 0.3s ease-in 0s, background-color 0s ease-in 0.3s;
  }
  
  .active .search-circle.second {
    width: 30px;
    height: 2px;
    top: 15px;
    left: 0;
    transform: rotate(45deg);
    background-color: #333;
  }
  
  .active .second-line {
    transform: rotate(135deg);
  }
  
  .active .search-circle.third {
    width: 30px;
    height: 2px;
    top: 15px;
    left: 0;
    transform: rotate(135deg);
    background-color: #333;
    border-radius: 0;
  }



.btn{
    width: 150px;
    height: 50px;
    border-radius: 2em;
    font-size: large;
}

.btn:hover{
    color: black;
    background-color: white;
}

.text-just{
    text-align: justify;
    font-size: medium;
}

.bg-lemon{
    background-color: rgb(154, 247, 154);
    height: 20vw;
}

.bg-lemon:hover{
    background-color: rgb(36, 241, 36);
}

.bg-skyblue{
    background-color: rgb(114, 213, 216);
    height: 20vw;
}

.bg-skyblue:hover{
    background-color: rgb(146, 237, 240);
}

.bg-brown{
    background-color: rgb(126, 103, 71);
    height: 20vw;
}

.bg-brown:hover{
    background-color: rgb(197, 167, 125);
}

.bg-orange{
    background-color: rgb(245, 160, 32);
    height: 20vw;
}

.bg-orange:hover{
    background-color: rgb(240, 129, 89)
}



@media (max-width: 995px) {
    .btn-1{
        width: 60vw;
    }
}


.bg-lemon2{
    background-color: rgb(154, 247, 154);
    height: 18vw;
    
}

.bg-lemon2:hover{
    background-color: rgb(36, 241, 36);
}

.bg-skyblue2{
    background-color: rgb(114, 213, 216);
    height: 18vw;
}

.bg-skyblue2:hover{
    background-color: rgb(146, 237, 240);
}

.bg-brown2{
    background-color: rgb(126, 103, 71);
    height: 18vw;
}

.bg-brown2:hover{
    background-color: rgb(197, 167, 125);
}

section .bord{
    margin: 70px 30px 70px 30px;
    border-radius: 50%;
}

section .bord .shad:first-child{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

section .bord .shad{
    position: relative;
    overflow: hidden;
}

section .bord .shad::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: transparent;
}

section .bord .shad:hover:after{
    background-color: black;
    border-radius: 0 0 10px 10px;
    transition: background-color 1.0s ease-in-out;
}

section .bord .shad:last-child{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.bord a{
    text-decoration: none;
}

@media (max-width: 991px) {
    
    section .bord .shad:first-child{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    section .bord .shad:last-child{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.container .row .col-12 a{
    text-decoration: none;
    color: green;
}

.container .row .col-12 a:hover{
    color: black;
}

.text-green{
    color: green;
    text-decoration: none;
    cursor: pointer;
}

.text-green:hover{
    color: black;
    transition: 0.5s ease-in-out;
}

.meetings{
    color: white;
    background-color: green;
    border-radius: 2em;
    text-decoration: none;
    font-size: small;
    padding: 7px 17px 7px 17px;
}

.meetings:hover{
    color: white;
    background-color: black;
    transition: 0.5s ease-in-out;
}

.text-black{
    color: black;
    text-decoration: none;
}

.text-black:hover{
    color: green;
    transition: 0.5s ease-in-out;
}


 .shado{
    position: relative;
    overflow: hidden;
}

 .shado::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: transparent;
}
.shado:hover:after{
    background-color: black;
    border-radius: 0 0 10px 10px;
    transition: background-color 1.0s ease-in-out;
}

.shado:last-child{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

